<div class="container">
	<% if user_signed_in? %>
		<% if current_user.is_standard_user? %>
			<%= render "standard_user_dashboard" %>
		<% elsif current_user.is_institution_user? %>
			<%= render "institution_user_dashboard" %>
		<% end %>
	<% else %>
		<h1>Welcome to Wall Street Ninja</h1>
		<p>If you are already login, please <%= link_to "Sign In", new_user_session_path() %>, Otherwise please <%= link_to "Sign Up", new_user_registration_path %> First.</p>
	<% end %>
</div>
