<h1>Welcome to Wall Street Ninja</h1>
<p>If you are already login, please <%= link_to "Sign In", new_user_session_path() %>, Otherwise please <%= link_to "Sign Up", new_user_registration_path() %> First.
