<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Welcome</title>
	</head>

	<body>
		<div style="width: 100%;float: left; font-family: arial; font-weight: 100;">
			hi,

			You recieved a request from <%= @requester.first_name %> to join your academy. <%= link_to "Click Here", registration_list_academies_url %> to accept and reject the requests. 
		</div>
	</body>
</html>

