<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h1>Portfolio</h1>
		</div>
		<div class="col-md-2">
			<span class="pull-right"><%#= link_to "Create New Portfolio", new_portfolio_path, class: "btn btn-primary mr_top" %></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>Activate your primary portfolio.</p>
		</div>
	</div>
	<div id="portfolio_contents">		
		<%= render "portfolio_contents" %>
	</div>		
</div>		