<footer class="footer">
	<div class="container">
	  <!-- <p class="text-muted">Place sticky footer content here.</p> -->
	  <div class="filter_loader dis_none">
   		<img src="/assets/search_loader.gif">
    </div>
	</div>
</footer>