<h3><strong> Last 10 working days company details</strong></h3>

<table class="table table-striped table-hover">
	<thead>
		<% @company_details["column_names"].each do |column| %>
			<th><%= column %></th>
		<% end %>
	</thead>
	<tbody>
		<% @company_details["data"].each do |data| %>
			<tr>
			  <% data.each do |d| %>
				  <td><%= d %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>