@import 'notifications';

.btn-primary.mr_top{
	margin-top: 15px;
}

.close_icon img{  
  margin-top: 40px;
}

.dis_none{
	display: none;
}

.filter_loader{    
	background: rgba(0,0,0,.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

.filter_loader img{  
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
}
.mtop9{margin-top:9px; width: 40%;}
.wdt60{
    width: 37%;
    float: left;
    height: 30px;
    padding: 4px;
    font-size: 13px;
}
.wdt60.mrht6{    margin-right: 5px;}
.search_btn{padding: 4px 12px;
    margin-left: 5px;}
.custom_modal{top:20%;}
.cmpny_label{margin-top:10px;}
.name_fld{margin-bottom:10px;}

.dis_inlne{display: inline-block;}